# ui
ui/node_modules/*
ui/dist/*
ui/npm-debug.log*
ui/*.tsbuildinfo
ui/.env*.local

# copilot instructions
.github/copilot-instructions.md

# OCI image
*.rock

# Certificates
*.pem

# DB
*.db
*.db-*

# Binary
main

# Snap
*.snap

# Documentation
.cache
site
