site_name: Ella Core Documentation
site_url: https://docs.ellanetworks.com/
docs_dir: docs
theme:
  name: material
  logo: images/logo.svg
  favicon: images/logo.svg
  palette:
    primary: custom
  font:
    text: Source Code Pro
  features:
    - navigation.sections
    - navigation.footer
    - navigation.indexes
    - content.code.copy
  icon:
    repo: fontawesome/brands/github
  custom_dir: docs/overrides
extra_css:
  - stylesheets/extra.css
repo_url: https://github.com/ellanetworks/core
repo_name: ellanetworks/core
copyright: Copyright &copy; 2026 Ella Networks
extra:
  generator: false
  social:
  - icon: fontawesome/solid/globe
    link: https://www.ellanetworks.com
    name: Ella Networks website
  - icon: fontawesome/brands/youtube
    link: https://www.youtube.com/@ellanetworks
    name: Ella Networks on YouTube
  - icon: fontawesome/brands/linkedin
    link: https://www.linkedin.com/company/ellanetworks
    name: Ella Networks on LinkedIn
  - icon: fontawesome/brands/github
    link: https://www.github.com/ellanetworks/core
    name: Ella Networks on GitHub
markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - tables
  - toc:
      permalink: true
nav:
  - Home: index.md
  - Tutorials:
    - tutorials/index.md
    - Getting Started: tutorials/getting_started.md
    - Running an End-to-End 5G Network: tutorials/end_to_end_network.md
  - How-to Guides:
    - how_to/index.md
    - Install: how_to/install.md
    - Integrate with a Radio: how_to/integrate_with_radio.md
    - Backup and Restore: how_to/backup_and_restore.md
    - Use VLANs: how_to/vlan.md
    - Tune Network Performance: how_to/performance_tuning.md
    - Co-host with OCUDU: how_to/co_host_with_ocudu.md
    - Exchange routes through BGP: how_to/bgp.md
  - Reference:
    - reference/index.md
    - API:
      - reference/api/index.md
      - Authentication: reference/api/auth.md
      - Backup: reference/api/backup.md
      - Initialization: reference/api/initialize.md
      - Audit Logs: reference/api/audit_logs.md
      - Metrics: reference/api/metrics.md
      - Networking: reference/api/networking.md
      - Operator: reference/api/operator.md
      - Policies: reference/api/policies.md
      - Pprof: reference/api/pprof.md
      - Radios: reference/api/radios.md
      - Restore: reference/api/restore.md
      - Status: reference/api/status.md
      - Subscribers: reference/api/subscribers.md
      - Users: reference/api/users.md
      - Usage: reference/api/usage.md
      - Flow Reports: reference/api/flow_reports.md
    - Configuration File: reference/config_file.md
    - Production Hardening: reference/production_hardening.md
    - Observability: reference/observability.md
    - Connectivity: reference/connectivity.md
    - TLS: reference/tls.md
    - Performance: reference/performance.md
    - System Requirements: reference/system_reqs.md
    - Supported 5G Equipment: reference/supported_5g_equipment.md
  - Explanation:
    - explanation/index.md
    - Architecture: explanation/architecture.md
    - Subscriber Authentication: explanation/subscriber_authentication.md
    - User Plane Packet processing with eBPF: explanation/user_plane_packet_processing_with_ebpf.md
    - Obtaining a PLMN ID for a Private Network: explanation/obtaining_plmn_id.md
    - Managing SIM Cards: explanation/managing_sim_cards.md
plugins:
  - search
  - glightbox
  - social:
      cards_layout_options:
        background_color: "#26374a"
