configs:
  ella_config:
    content: |
      logging:
        system:
          level: "debug"
          output: "stdout"
        audit:
          output: "stdout"
      db:
        path: "core.db"
      interfaces:
        n2:
          address: "10.3.0.2"
          port: 38412
        n3:
          name: "n3"
        n6:
          name: "n6"
        api:
          address: "10.3.0.2"
          port: 5002
      xdp:
        attach-mode: "generic"

services:
  ella-core:
    image: ella-core:latest
    configs:
      - source: ella_config
        target: /core.yaml
    restart: unless-stopped
    entrypoint: /bin/core --config /core.yaml
    volumes:
      - /sys/fs/bpf:/sys/fs/bpf:rw
    privileged: true
    ports:
      - "5002:5002"
    networks:
      default:
        driver_opts:
              com.docker.network.endpoint.ifname: eth0
      n3:
        driver_opts:
              com.docker.network.endpoint.ifname: n3
        ipv4_address: 10.3.0.2
      n6:
        driver_opts:
              com.docker.network.endpoint.ifname: n6
        ipv4_address: 10.6.0.2
  ella-core-tester:
    image: ghcr.io/ellanetworks/ella-core-tester:latest
    restart: unless-stopped
    privileged: true
    networks:
      default:
        driver_opts:
              com.docker.network.endpoint.ifname: eth0
      n3:
        driver_opts:
              com.docker.network.endpoint.ifname: n3
        ipv4_address: 10.3.0.3
  router:
    image: ghcr.io/ellanetworks/ubuntu-router:0.1
    restart: unless-stopped
    privileged: true
    networks:
      n6:
        driver_opts:
              com.docker.network.endpoint.ifname: n6
        ipv4_address: 10.6.0.3

networks:
  n3:
    internal: true
    ipam:
      config:
        - subnet: 10.3.0.0/24
  n6:
    ipam:
      config:
        - subnet: 10.6.0.0/24
