name: Integration tests

permissions:
  contents: read

on:
  workflow_call:

jobs:
  integration-test:
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
    runs-on: ${{ (matrix.arch == 'arm64' && 'ubuntu-24.04-arm') || 'ubuntu-24.04' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Docker registry
        run: |
          docker run -d -p 5000:5000 --name registry registry:2

      - name: Download Ella Core image from GitHub Artifact
        uses: actions/download-artifact@v7
        with:
          name: ellacore-image-${{ matrix.arch }}

      - name: Download Ella Core Tester image from GitHub Artifact
        uses: actions/download-artifact@v7
        with:
          name: ella-core-tester-image-${{ matrix.arch }}

      - name: Push container images to local registry
        run: |
          docker load -i ellacore_latest-${{ matrix.arch }}.tar
          docker tag ella-core:latest localhost:5000/ella-core:latest
          docker push localhost:5000/ella-core:latest

          docker load -i ella-core-tester-${{ matrix.arch }}.tar
          docker tag ella-core-tester:latest localhost:5000/ella-core-tester:latest
          docker push localhost:5000/ella-core-tester:latest

      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Run integration tests
        run: |
          INTEGRATION=1 go test ./integration/... -v
