name: Main workflow

permissions:
  contents: read
  packages: write

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  ui-lint:
    uses: ./.github/workflows/ui-lint.yaml
  go-unit-test:
    uses: ./.github/workflows/go-unittest.yaml
  go-vet:
    uses: ./.github/workflows/go-vet.yaml
  go-lint:
    uses: ./.github/workflows/go-lint.yaml
  go-sec:
    uses: ./.github/workflows/go-sec.yaml
  clang-format:
    uses: ./.github/workflows/clang-format.yaml
  clang-tidy:
    uses: ./.github/workflows/clang-tidy.yaml
  image-build:
    needs: [go-unit-test, go-vet, go-lint, clang-format, clang-tidy]
    uses: ./.github/workflows/image-build.yaml
    with:
      archs: '["amd64"]'
  integration-tests:
    needs: [go-unit-test, go-vet, go-lint, image-build]
    uses: ./.github/workflows/integration-tests.yaml
