name: Release workflow

permissions:
  contents: read
  packages: write
  security-events: write

on:
  push:
    tags:
      - 'v*'
  release:
    types: [published]
  workflow_dispatch: {}

jobs:
  image-build:
    uses: ./.github/workflows/image-build.yaml
  image-publish:
    needs: [image-build]
    uses: ./.github/workflows/image-publish.yaml
    secrets: inherit
  image-scan:
    needs: [image-build, image-publish]
    uses: ./.github/workflows/image-scan.yaml
  core-tester-image-build:
    uses: ./.github/workflows/core-tester-image-build.yaml
  core-tester-image-publish:
    needs: [core-tester-image-build]
    uses: ./.github/workflows/core-tester-image-publish.yaml
    secrets: inherit
  snap-build:
    uses: ./.github/workflows/snap-build.yaml
  snap-publish:
    needs: [snap-build]
    uses: ./.github/workflows/snap-publish.yaml
    secrets: inherit
